%tr
<% for attribute in attributes -%>
  %td
    =h <%= singular_name %>.<%= attribute.name %>
<% end -%>
  %td
    = link_to 'Show', resource_path(<%= singular_name %>) 
  %td
    = link_to 'Edit', edit_resource_path(<%= singular_name %>)
  %td
    = link_to 'Delete', resource_path(<%= singular_name %>), :confirm => 'Are you sure?', :method => :delete 

